@using PagedList;
@using PagedList.Mvc;

@model BJJ.Models.ViewModel
@{
    ViewBag.Title = "Schools";
}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <h3>
                Find a School
            </h3>
        </div>
      </div>
    <div class="row clearfix">
        <div class="col-md-8 column">
        </div>
        <div class="col-md-4 column">
            @*<form action="/Home/CreateSchool">
                <button type="submit" class="btn btn-default btn-xs">Add</button> 
            </form>*@
        </div>
    </div>

            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table">
                        <tr></tr>
                        @foreach (var school in Model.PagedSchools)
                        {
                            <tr>
                                <td>@school.SchoolName</td>
                                <td>
                                    <ul>
                                        <li>@school.Address1</li>
                                        <li>@school.Address2</li>
                                        <li>@school.City, @school.State, @school.Zip</li>
                                        <li><a href="@school.Website" target="_blank">@school.Website</a></li>
                                    </ul>
                                </td>
                                @*<td>
                                    <form role="form" method="get" action="/Home/EditSchool/">
                                        <button value="@school.SchoolId" id="editPost" type="submit" class="btn btn-default btn-xs" name="schoolId">Edit</button>
                                    </form>
                                </td>
                                <td>
                                    <form role="form" method="get" action="/Home/DeleteSchool/">
                                        <button value="@school.SchoolId" id="deletePost" type="submit" class="btn btn-default btn-xs" name="deleteId">Delete</button>
                                    </form>
                                </td>*@
                            </tr>
                        }
                    </table>
                    @Html.PagedListPager(Model.PagedSchools, spage => Url.Action("Schools", new { spage }))
                </div>
            </div>

